.motion-container {
  flex-direction: column;
  display: flex;
}

.balloon-container {
  display: flex;
  flex-direction: row;
  text-align: left;

  &.left {
    align-self: flex-start;
  }

  &.right {
    align-self: flex-end;
  }
}

.playerName {
  margin-left: 10px;
  margin-right: 10px;
  align-self: flex-end;
}

.balloon {
  margin-bottom: 50px;
}

.listItem {
  &.red {
    color: red;
  }
}
